    /* CSS Reset */
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* Global */
    
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Grandstander', cursive;
    }
    
    a {
        color: #3b4432;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    p {
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
    }
    
    strong {
        font-weight: 500;
    }
    
    h1 {
        color: #3b4432;
        font-size: 50px;
        font-weight: 100;
        margin-top: 20px;
    }
    
    h2 {
        color: #3b4432;
        font-size: 30px;
        margin-top: 10px;
    }
    
    h3 {
        font-size: 23px;
        margin-top: 10px;
    }
    
    .mb20 {
        margin-bottom: 20px;
        ;
    }
    
    .button {
        height: 50px;
        font-weight: 500;
        font-family: 'Grandstander', cursive;
        font-size: 20px;
        padding: 10px 15px;
    }
    
    .add-veg {
        color: #fff;
        background-color: #62774d;
        border-top: 0 solid;
        border-left: 0 solid;
        border-right: 3px solid #333f26;
        border-bottom: 3px solid #333f26;
        border-radius: 10px;
    }
    
    .start-again {
        color: #fff;
        background-color: #3b4432;
        border-top: 0 solid;
        border-left: 0 solid;
        border-right: 3px solid #252b1f;
        border-bottom: 3px solid #252b1f;
        border-radius: 10px;
    }
    /* Layout */
    
    header,
    main,
    footer {
        width: 100%;
    }
    
    header,
    footer {
        text-align: center;
    }
    
    .container {
        width: 100%;
        padding: 15px 0;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    @media screen and (min-width: 1200px) {
        .container {
            width: 1200px;
            margin: 0 auto;
        }
    }
    
    .percent100 {
        width: 100%;
    }
    
    .acenter {
        text-align: center;
    }
    
    .intro-text {
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    /* Veg pool */
    
    .veg-pool {
        margin: 20px 0;
    }
    /* Veg card */
    
    .veg-card {
        width: 110px;
        height: 118px;
        margin: 5px;
        text-align: center;
        background-color: #BFD0AE;
        border-bottom: 3px solid #9fad90;
        border-right: 3px solid #9fad90;
        opacity: 0.7;
        border-radius: 16px;
        box-shadow: 1px 1px 2px 1px #3b4432;
    }
    
    .veg-card h2 {
        height: 18px;
        padding-top: 7px;
        margin-top: 0;
        font-size: 14px;
        color: #3b4432;
        text-align: center;
    }
    
    .selected-veg {
        border-bottom-width: 7px;
        border-right-width: 7px;
        opacity: 1;
    }
    /* rotation beds */
    
    .hide-garden {
        display: none;
    }
    
    .rotation-bed {
        width: 48%;
        min-height: 150px;
        background-color: #6c6938;
        border-radius: 5px;
        border-top: 10px solid #50462a;
        border-left: 10px solid #494025;
        border-bottom: 10px solid#3d351f;
        border-right: 10px solid #3b331d;
        margin: 10px;
        padding: 10px;
        box-shadow: inset 0px 0px 20px 10px rgba(61, 53, 24, 0.5);
    }
    
    @media screen and (max-width: 800px) {
        .rotation-bed {
            width: 90%;
        }
    }
    
    .bed-title {
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
    }